div.product
  div.product__category
    h2 Категория
    div.search-select
      input(type="text").input.search-select__input
      div.search-select__suggestions
        div.search-select__empty Ничего не найдено
        label
          input(type="radio", name="suggest")
          span.search-select__suggestion
            span.search-select__suggestion-category--parent Родительская категория
            span.search-select__suggestion-category Конечная категория
        label
          input(type="radio", name="suggest")
          span.search-select__suggestion
            span.search-select__suggestion-category--parent Родительская категория
            span.search-select__suggestion-category Конечная категория
        label
          input(type="radio", name="suggest")
          span.search-select__suggestion
            span.search-select__suggestion-category--parent Родительская категория
            span.search-select__suggestion-category Конечная категория

  div.product__info
    div.product__attribute
      h2 Название товара
      input(type="").input
      
          
