:root
  --red #ff4b2d
  --gray #f2f2f2
  --black #252525
body
  padding 0
  margin 0
  color var(--black)
  background var(--gray)
  padding-left 400px
*
  box-sizing border-box
  font-family 'Montserrat'
.main
  width 1090px
  padding-bottom 50px

.btn
  height 55px
  border none
  border-radius 55px
  background var(--red)
  color #fff
  transition .3s
  font-size 20px
  padding 0 30px
  text-decoration none
  outline none
  font-weight 600
  cursor pointer
  display inline-flex
  align-items center
  &:hover
    background var(--black)
