.vagrant/
vendor/
config/development.config.php
data/cache/*
data/cache
front/node_modules
front/node_modules/**
!data/cache/.gitkeep
composer.lock
phpunit.xml
.phpunit.result.cache
nbproject/*
nbproject/**
nbproject/private/*
nbproject/private/private.xml
nbproject/private/private.properties
front/node_modules
front/package-lock.json
front/package.json
front/gulpfile.js