.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}
.popup__inner {
  position: absolute;
  background: #fff;
  border-radius: 20px;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__heading {
  font-size: 34px;
  margin-bottom: 30px;
  font-weight: bold;
  padding-right: 50px;
}
.popup__close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
.popup__close::before,
.popup__close::after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background: var(--red);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.popup__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.auth-reg {
  width: 600px;
  position: relative;
}
.auth-reg .btn {
  width: 270px;
  margin-left: 170px;
}
.auth-reg__input-group {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 20px;
}
.auth-reg__input-group__label {
  width: 170px;
  padding-right: 25px;
  text-align: right;
  font-weight: bold;
}
.auth-reg__input-group input[type="text"] {
  height: 55px;
  width: 270px;
  border: 2px solid var(--gray);
  padding: 0 25px;
  font-size: inherit;
  border-radius: 55px;
  outline: none;
}
