/*.active {dispaly:inline-block; padding:6px 2px; background:rgba(255,255,255,.5); color:#000}*/
.phoneinput {font-size:1.8rem; font-weight:700}
.opacity0, .opacity0 a {color:#999; text-decoration:none }
.opacity0  a   {text-decoration: line-through !important }

h2 span {font-size:14px; font-weight:300; display:block; color:#555}
#searchtop {
    display:inline-blok; 
    position:absolute;  
    width:40px; 
    height:40px; 
    right:65px; 
    top:27px; 
    background:url(img/searchtopblack.png) center no-repeat; 
    z-index:100;  
    cursor:pointer    
        /*border:1px solid red*/

}
#searchpanel {
    
    margin-bottom:10px;  width:450px; vertical-align:top;   position:relative; 
    /*display:block; 
    position:fixed; 
    top:0px; 
    min-height:70px; 
    background:#fff; 
    border-bottom:1px solid #eee;  
    text-align:center ;
    width:100%; 
    z-index:101101; 
    box-shadow:0 0 5px 10px rgba(0,0,0,.15);*/
}
.searchpanelcont {
    display: block;
    padding: 10px;
    text-align:center;
}
.searchpanelclose {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;    
    height: 30px;
    width: 30px;
    background: url('/img/close2.png') center no-repeat;
    cursor: pointer;
    z-index:100001;   
}
#useraddress  
{
    border:1px solid #ccc   ; 
    font-weight:normal;  
    background: transparent url('/img/geo16.png') left no-repeat;
    padding:8px; 
    padding-left:40px;      
    margin:5px; 
    color:#000;  
    font-size:18px; 
    border-radius:0; 
    position:relative; z-index:100000;
}
.productcard .content {
    display:block; 
    box-shadow: 2px 2px 8px rgba(0,0,0,0.0);
    padding:16px;
    border-radius:6px;
    line-height: 1.2em;
}
.productcard .content:hover {box-shadow: 2px 2px 7px  rgba(0,0,0,0.25); bprder:1px solid #eee;}    
.productcard .productimage {max-width:100%; border-radius:4px}
.productcard .blok {display:block; margin:4px 0; }
.productcard .price {font-weight: 500; line-height: 1.2; font-size: 1rem}
.productcard .producttitle {font-size:1.2rem; font-weight:600; margin:10px 0;}


.productcard {
    width:24.5%; 
    display:inline-block; 
    vertical-align:top; 
    position:relative; 
}
.errorblock {display:block; padding:10px; background:url(/img/warning.png) left center no-repeat; padding-left:25px }

@media (max-width: 1200px) {
    .productcard {
        width:32.5%; 
    }

}
@media (max-width: 1001px ) {
    .productcard {
        width:49.5%; 
    }

}

@media (max-width: 800px) {
    .productcard {
        width:100%; 
    }

}
.geo16 {
    display:inline-block;
    cursor: pointer;
    background: transparent url('/img/geo16.png') -6px center no-repeat;
    padding:12px; 
    padding-left:24px;
    font-size:18px; 
    /*font-weight:700;  
    color:#f62;*/
    vertical-align:top;
}
.geo16 span {border-bottom:1px dashed #666    }

* .none {display:none}

.speedlable {
    dispaly:inline-block; 
    position:absolute; 
    width:58px; 
    /*height:22px;*/
    top:5px; left:5px; 
    padding:15px; 
    font-size:22px; font-weight:bolder; line-height:1em; text-align:center;
    background:rgba(255,255,255,.85);
    border:3px solid #f62; border-radius:50%;
    color:#f62;

}
#filtrform  {display:block; text-align:right; position:relative; z-index:20 }
#filtrform .iblok {margin: 6px; vertical-align:middle; }
#filtrform select {border:1px solid #ccc; border-radius:4px; padding:8px 12px;  }

.filterblock  { display:block;  position:relative;    z-index:50;}
.ifilterblock  {
    float:left; 
    position:relative; 
    /* z-index:10;*/
     box-shadow: 2px 2px 7px  rgba(0,0,0,0); 
     border:1px solid transparent ;
     border-radius:8px;    
    }
.filtritem  {display:block; padding:10px; text-align:left;}
.filtritemtitle, .closefilteritem {
    font-weight:bold; 
    display:block;
    position:relative;
    padding-right:14px; 
    margin-right:20px; z-index:5;   
    background:url("/img/arrdown.png") right no-repeat; 
    cursor:pointer; 
    display:inline-block; 
    white-space: nowrap ;
}
.closefilteritem {
     background:url("/img/arrup.png") right no-repeat; 
     margin-right:0;
}
.filtritemcontent {display:none}
.filtritemcontent .block {padding:4px 0px; white-space: nowrap }
.filtritem.active {
    display:inline-block;
    box-shadow: 2px 2px 7px  rgba(0,0,0,0.25); 
    background-color:rgba(255,255,255,.98   );
    border:1px solid #ddd; 
    border-radius:4px;    
    position:absolute;  
    top:-11px; left:-11px;
    z-index:100;
} 
.active .filtritemtitle  {margin-right: 0}
.nenuzh, .nopub, .nopub22, .cheker, .cheker2 {	
	display:inline-block; cursor:pointer; height:23px; line-height:23px;
	background:url("/img/check.png") no-repeat;
	vertical-align:middle;
	padding-top:0px; 
        line-height:28px;  
	padding-left:27px;
	margin:5px;
	text-shadow:1px 1px rgba(255,255,255,.5);
	color:#666;
        white-space: nowrap
}
.nopub22 {width:120px; padding-left:27px}
.cheker {color:#666; padding-left:28px; }
.zach   {background-position: 0 -25px; color:#000; font-weight:300 }
.zach2   {background-position: 0 -50px; font-weight:300 }
.zach3   {background-position: 0 -75px; color:#191919; font-weight:300 }
.waiting {background:url("/img/loader.gif") left no-repeat}


.pw-contentblock {
	display:inline-block; 
	position:relative; 
	vertical-align:top; 
	margin:0; 
	padding:0
}
.pw-contentblock .contentpadding { padding:10px; }
/*.pw-contentblock .contentpadding * {max-width:100% }*/

.pw-contentblock.cblock-1 { width: 99.5%;}
.pw-contentblock.cblock-2 { width: 49.5%; }
.pw-contentblock.cblock-3 { width: 33.0%;}
.pw-contentblock.cblock-4 { width: 24.5%;}
.pw-contentblock.cblock-5 { width: 65.5%;}
.pw-contentblock.cblock-6 { width: 74.5%;}

@media screen and (max-width: 1200px) {
.pw-contentblock.cblock-4 { width: 33.33333%;}
}
@media screen and (max-width: 1024px) {
	.imgleftnews, .imgrightnews {max-width:50%}
	.pw-contentblock.cblock-4 { width: 49.5%;}
	.pw-contentblock.cblock-3 { width: 49.5%;}
	.pw-contentblock.cblock-5 { width: 49.5%;}
	.pw-contentblock.cblock-6 { width: 49.5%;}
	.layaercontent,.PT {font-size:22px;}
	#headeraa h1 { font-size:28; }
}

@media screen and (max-width: 800px) {
	.imgleftnews, .imgrightnews {float:none;  display:block; width:100%; max-width:100%;margin-bottom:1vh; margin:0; padding:0;}
	.pw-contentblock.cblock-2, 
	.pw-contentblock.cblock-3, 
	.pw-contentblock.cblock-4,
	.pw-contentblock.cblock-5,
	.pw-contentblock.cblock-6 { width: 100%;}
	#headeraa h1 { font-size:22px; }
}

.product-page-image  {max-width:100px ; cursor:pointer; border:2px solid #fff;}
.product-page-image.productimage0  {max-width:100%; border:none }
.borderred {border-color:#f62 }