.phoneinput {font-size:1.8rem; font-weight:700}
.opacity0, .opacity0 a {color:#999; text-decoration:none }

h2 span, h1 span {font-size:14px; font-weight:400; display:block; color:var(--gray)}

#headermenu {display:block; background:#252525; margin:0; outline:0; padding:0; height:56px; text-align:center; position: relative; z-index:500;}
#headermenu .headermenucontent {display:inline-block; width:100%; max-width:1600px; min-width:1001px;  max-height:60px; height:auto; overflow:hidden; text-align:left}
#headermenu .headermenucontent a {
    display:inline-block; 
    text-decoration:none; 
    border-bottom:2px solid transparent; 
    color:#fff;
    padding:16px 10px; 
    padding-bottom:12px;
    margin:0; outline:0;
}
#headermenu .headermenucontent a:hover , #topmenu ul  li a:hover {border-color:#ff5533; transition: 1s;} 
.parthnerenter {float:right}
.brandcolor {color:var(--red)}
.parthnerenter .brandcolor {font-size:130%}

#quicksearch .blok  {font-size:90%;}
.overcoverblack {width:100%; height:100%;position:fixed; display:block; background:rgba(0,0,0,.5);z-index:600; top:0 }
#lefmobiletpanel  {
    position:fixed; 
    display:block; 
    height:100%; 
    width:100%; 
    max-width:800px;
    top:0; 
    left:-110%;
    background:	rgba(255,255,255,.97); 
    box-shadow:15px 0px 30px rgba(0,0,0,.3); 
    z-index:100001; padding:5px; 
}
#lefmobiletpanel h3 {color:#333; margin:0; padding:0; margin-bottom:20px; }
#lefmobiletpanelclose
{width: 75px;
 height: 75px;
 /*background: url(/images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;*/
 background:url(/img/close2.png) center no-repeat; cersor:pointer;
 cursor: pointer;
 position:absolute; top:10px; right:10px;}
#lefmobiletpanelcontent 
{display:inline-block; max-width:600px; height:100%; overflow-x:hidden; text-align:left;
 margin-left:30px;
}
#supermenuinside {padding:30px; text-align:left}
#supermenuinside  li{list-style:none}
#supermenuinside  li a{text-decoration:none !important}
#supermenuinside li ul li { font-size:90%; font-weight:normal; margin-left:1vw}
#topmenu {display:table;  margin:0; outline:0; padding:0; min-height:56px; max-height:56px; text-align:center; width:100%; max-width:1600px; overflow:hidden;
          background:#f2f2f2;
          border-radius:25px; position:relative; top:-12px; margin-bottom:-12px
}
#topmenu ul {
    display:table-row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    outline:0;
    padding:0 16px;

    overflow:hidden;

}
/*Top level list items*/
#topmenu ul  li{
    display: table-cell;
}

#topmenu ul  li:first-child{
    padding-left:16px;
}
#topmenu ul  li:last-child{
    padding-right:16px;
}

#topmenu ul  li  a {
    text-decoration:none; 
    color:#000; 
    display:inline-block; 
    padding:14px; 
    border-bottom:2px solid transparent ; 
}


#catalogbutton{display:inline-block; width:200px; margin-top:38px; vertical-align:top; }
.catalogbutton {color:#fff; text-shadow:1px 1px rgba(0,0,0,.05); display:inline-block;  background-color:var(--red); padding:13px 26px ; cursor: pointer;   border-radius:60px; font-weight:bold; font-size:20px}
.mobile_nav_icon {  
    display:inline-block; vertical-align:top;
    border-bottom: 10px double #ffffff;
    border-top: 2px solid #ffffff;
    cursor: pointer;
    float: left;
    height: 2px;
    /*margin-left: 5px;*/
    position:relative;
    margin-top: 7px;

    padding-top: 4px;
    transition: all 0.2s ease 0s;
    width: 18px;
    margin-right:8px; /*margin-top:5px;*/
}

#searchtop {
    display:block; 
    position:absolute;  
    width:40px; 
    height:40px; 
    right:65px; 
    top:27px; 
    background:url(img/searchtopblack.png) center no-repeat; 
    z-index:100;  
    cursor:pointer;    
    outline:0;
    /*border:1px solid red*/
}
#searchpanel {

    padding:20px 10px; 
    border-radius:60px;  
    width:100%;  

    position:absolute; 
    top:-200px; left:0; z-index:90;
    padding-top:38px; 
    background:#fff; 
    width:100%;

}
.searchpanelcont {
    display: block;
    padding: 10px;
    text-align:center;
}
.searchpanelclose {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 22px;    
    height: 30px;
    width: 30px;
    background: url('/img/close2.png') center no-repeat;
    cursor: pointer;
    z-index:100001;   
}
#useraddress  
{
    border:1px solid #ccc   ; 
    font-weight:normal;  
    background: transparent url('/img/geo16.png') left no-repeat;
    border:2px solid var(--red); 
    padding:12px 36px ; 
    padding-right:45px;
    cursor: pointer;  
    border-radius:60px; 
    width:100%;
    outline: 0; display:block; 
    position:relative; z-index:100000;
}
#uadress {margin-left:24px; display:block;  cursor:pointer /*font-weight:bold*/}
#uadress span {border-bottom:1px dashed  var(--gray);}
.productcard .content {
    display:block; 
    box-shadow: 2px 2px 16px rgba(0,0,0,0.0);
    padding:22px;
    border-radius:16px;
    line-height: 1.2em;
    position:relative;
    z-index:1;
}
.productcard .contentabsolute {
    display:block; 
    position:absolute;
    z-index:2;
    width:100%;
    opacity:0;
    background:#fff;
    
    
}

.productcard  .content:hover {
    box-shadow: 2px 2px 16px  rgba(0,0,0,0.25); 
    /*border:1px solid #eee; */
    opacity:1; 
    z-index:3;

}    
.productcard .productimage {
    max-width:100%; 
    border-radius:4px
}
.productcard .blok {
    display:block; 
    margin:4px 0; 
}
.productcard .price {
    font-weight: 500; 
    line-height: 1.2; 
    font-size: 1.5rem; 
    display:inline-block; 
    margin:0 2.5% 0 0; 
    width:50%;
}
.productcard .inactiveblok, .inactiveblok {
    display:block; 
    margin:5px 0; 
    background:url("/img/tmpotz.png") no-repeat; 
    height:25px; 
}
.productcard .oldprice {
    font-weight: 500; 
    line-height: 1.2; 
    font-size: 1.3rem; 
    display:inline-blok; 
    width:47%;
    /*float:right;*/ 
}
.productcard .producttitle { 
    margin:10px 0; 
    max-height:38px; 
    overflow:hidden; 
    font-weight:500;
}
.productcard {
    width:24.5%; 
    display:inline-block; 
    vertical-align:top; 
    position:relative; 
}
.payblockcard {
    padding:16px 0 0 0; 
    display:none; 
    text-align:center;
}
.productcard  .content:hover .payblockcard {display:block}
.paybutton, .paybuttonwhite, .paybuttonwhite:hover  {
    display:inline-block; 
    text-align:center;
    width:100%; 
    /*max-width:150px; */
    border:2px solid transparent;
    cursor: pointer;   border-radius:35px; 
    font-weight:bold; 
    color:#fff; 
    text-shadow:1px 1px rgba(0,0,0,.05); 
    background-color:var(--red); 
    padding:13px 26px ;  
    
}
.paybuttonwhite {
    color: var(--red); 
    text-shadow:none; 
    background-color:#fff;  
    border-color: var(--red);
}
.errorblock {
    display:block; 
    padding:10px; 
    background:url(/img/warning.png) left 12px no-repeat; padding-left:28px }

@media (max-width: 1200px) {
    .productcard {
        width:32.5%; 
    }
    #quicksearch .blok  {display: none}
}
@media (max-width: 801px ) {
    .productcard {
        width:49%; 
    }

}
/*@media (max-width: 800px) {
    .productcard {
        width:100%; 
    }

}*/
.geo16 {
    display:inline-block;
    cursor: pointer;
    background: transparent url('/img/geo16.png') -6px center no-repeat;
    padding-left:24px;
    vertical-align:top;
}
.geo16 span {border-bottom:1px dashed #666    }

.none {display:none }
.relative {position:relative}

.speedlable {
    display:inline-block; 
    position:absolute; 
    width:58px; 
    /*height:22px;*/
    z-index:10;
    top:5px; left:5px; 
    padding:15px; 
    font-size:22px; font-weight:bolder; line-height:1em; text-align:center;
    background:rgba(255,255,255,.85);
    border:3px solid #f62; border-radius:50%;
    color:#f62;

}
#filtrform  {display:block; text-align:left; position:relative; z-index:20 }
#filtrform .iblok {margin: 6px; vertical-align:middle; }
#filtrform select {border:1px solid #ccc; border-radius:4px; padding:8px 12px;  }

.filterblock  { display:block;  position:relative;    z-index:50;}
.ifilterblock  {
    /*display:block; vertical-align:top;*/
    /*position:relative; 
    /* z-index:10;*/
   /* box-shadow: 2px 2px 7px  rgba(0,0,0,0); 
    border:1px solid transparent ;
    border-radius:8px;    */
}
.filtritem  {display:block; padding:10px; text-align:left;}
.filtritemtitle, .closefilteritem, .filtritemtitleprice {
    font-weight:bold; 
    display:block;
    position:relative;
    margin:12px 0px 6px 0;
    font-size:1.1rem;
    /*padding-right:14px; 
    margin-right:20px; z-index:5;   
    /*background:url("/img/arrdown.png") right no-repeat; */
    cursor:pointer; 
    display:inline-block; 
    /*white-space: nowrap ;*/
}
.filtritemtitleprice {background:none; margin-top:0;}
.filtritemtitleprice span {font-weight:400}

.filtritemtitle div.count, #zakazcount {
    dispaly:block; 
    position:absolute; 
    /* width:15px; */
    /*height:22px;*/
    top:-5px; right:5px; 
    padding:3px; 
    font-size:10px; font-weight:bolder; line-height:.5em        ; text-align:center;
    background:#f62;
    border:3px solid #f62; border-radius:50%;
    color:#fff;
} 
#zakazcount {right:0; top:0;}
.closefilteritem {
    background:url("/img/arrup.png") right no-repeat; 
    margin-right:0;
}
.filtritemcontent {display:block; min-width:200px;}
.filtritemcontent .block {padding:4px 0px; white-space: nowrap }
.filtritem.active {
    display:inline-block;
    box-shadow: 2px 2px 7px  rgba(0,0,0,0.25); 
    background-color:rgba(255,255,255,.98   );
    border:1px solid #ddd; 
    border-radius:4px;    
    /*position:absolute;  */
    top:-11px; left:-11px;
    z-index:100;
} 
.active .filtritemtitle  {margin-right: 0}
.nenuzh, .nopub, .nopub22, .cheker, .cheker2 {	
    display:inline-block; cursor:pointer; height:38px; line-height:30px;
    background:url("/img/checkbox.png") 0 -38px no-repeat;
    vertical-align:middle;
    padding-top:0px; 
    
    padding-left:35px;
    margin:2px 0;
    text-shadow:1px 1px rgba(255,255,255,.5);
   
    white-space: nowrap
}
.onoff, .radio {
    display:inline-block; cursor:pointer; height:20px; line-height:20px;
    background:url("/img/onoff.svg") 0 0 no-repeat;
    vertical-align:middle;
    padding-top:0px; 
    padding-left:35px;
    margin:2px 0;
    text-shadow:1px 1px rgba(255,255,255,.5);
    white-space: nowrap;
    /*margin-right:18px;*/
        width:48.5%; margin:0; outline:0;
    box-sizing: border-box;
    }    
.radio {
    background:url("/img/radio.svg") 0 0 no-repeat;
    display:block;
    height:28px; 
    line-height:28px;
    margin-bottom:12px;
}   

.nopub22 {width:120px; padding-left:27px}
.cheker {color:#666; padding-left:28px; }
.zach   {background-position: 0 0; color:var(--red); }
.zach2   {background-position: 0 -50px;  }
.zach3   {background-position: 0 -75px; color:#191919;  }
.waiting {background:url("/img/loader.gif") left no-repeat}
.onoff.zach {background-position:0 -20px; }
.radio.zach {background-position:0 -38px;}
 .bread-crumbs{display:block; color:#333;  line-height:1.8em; margin:16px 0 ;}
 .bread-crumbs-item {
     display:block; 
     text-decoration:none; 
     
     padding:0 4  px ;  box-sizing: border-box;   }
 .breadtab1, .breadtab2, .breadtab3, .breadtab4 {
     background: url("/img/breadarrow.svg") 0px 11px no-repeat; 
     padding-left:18px;
 }
  .breadtab0 {font-weight:600}
  .breadtab2 {margin-left:18px}
  .breadtab3 {margin-left:36px}
  .breadtab4 {margin-left:54px}
  
 .bread-crumbs-item a {text-decoration:none; color:#333; }


.pw-contentblock {
    display:inline-block; 
    position:relative; 
    vertical-align:top; 
    margin:0; 
    padding:0;
    outline:0;
}
.pw-contentblock .contentpadding { padding:10px; }
.pw-contentblock .contentpadding * {max-width:100% }

.paybox .contentpadding  {padding:20px;}

.pw-contentblock.cblock-1 { width: 98%;}
.pw-contentblock.cblock-2 { width: 48%; }
.pw-contentblock.cblock-3 { width: 32.5%;}
.pw-contentblock.cblock-4 { width: 24%;}
.pw-contentblock.cblock-5 { width: 65.5%;}
.pw-contentblock.cblock-6 { width: 74%;}

@media screen and (max-width: 1200px) {
    .pw-contentblock.cblock-4 { width: 33.33333%;}
    #topservice .pw-contentblock.cblock-2 {width:100%; display:block}
    #topservice .pw-contentblock.cblock-2.nopadding .contentpadding, #searchpanel.nopadding {padding-top:0px;}

}
@media screen and (max-width: 1024px) {
    .imgleftnews, .imgrightnews {max-width:50%}
    .pw-contentblock.cblock-4 { width: 49.5%;}
    .pw-contentblock.cblock-3 { width: 49.5%;}
    .pw-contentblock.cblock-5 { width: 49.5%;}
    .pw-contentblock.cblock-6 { width: 49.5%;}
    .layaercontent,.PT {font-size:22px;}
    #headeraa h1 { font-size:28; }
}

.product-page-image  {max-width:100px ; cursor:pointer; border:2px solid #fff;  }
.product-page-image.productimage0  {max-width:100%; border:none }

.iconimg {width:98px; vertical-align:top}
.mainimg {width:calc(100% - 110px); float:right; ; vertical-align:top}

img.zero, .zeroblok {
    width:700px;  max-width:100%;
    background:url('/img/no-ph.jpg') center no-repeat ;   
    background-size: contain
}   

.both {display:block; clear:both}

.square {
    position: relative;
    display: block;
}

.square:after {
    content: '';
    display: block;
    padding-top: 100%;
}
.squarecontent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.squarecontent img {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
}
.product-image-container-mini { 
    width:80px; height:80px;margin-right:10px; overflow:hidden;
    display: flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    border: 2px solid #ccc; border-radius:50%;
}
.product-image-container-mini img {max-width:100%; max-height:100%;   flex-shrink: 0;   }
.borderred {border-color:#f62 }

#topservice {display:inline-block; width: calc(100% - 630px); vertical-align:top; position:relative }
#topservice .pw-contentblock .contentpadding {padding-top:38px}
.emptyblock  {width:50px; height:50px; border: 2px solid var(--red); position:relative; display:inline-block;  border-radius:50% }
.volna {display:block; height:15px; background:url(/img/volna.png) repeat-x;}
.paybox {display:block;  box-shadow: 2px 2px 16px rgba(0,0,0,0.05); border-radius:16px;  min-height:200px;}
.oldprice {display:inline-block; font-size:90%; color:var(--gray); text-decoration:line-through; margin-left:15px; }

.imgflex, .imgflexmini {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.char-row {display:block; margin-bottom:1rem; 
           /*border:1px solid red*/
           }
.char-title {
    color: var(--gray);
    margin: 0 2.5% 0 0;
    position: relative;
    vertical-align: top;
    width: 50%;
}
.char-title span, .char-value span {
    background: #fff;
    font-weight: 400;
    padding: 0 20px 0 0;
    position: relative;
    z-index: 1;
}

.char-title::after {
    border-bottom: 1px dashed #ccc;
    bottom: 5px;
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}
.char-value {width:47%}
.char-value img {display:inline-block; vertical-align:middle; position:relative; top:-2px;}

.char-title, .char-value {
    display:inline-block; vertical-align:top;position:relative;
}

/*.char-blok-bottom .char-value, .char-blok-bottom .char-title {margin:0}

.char-blok-bottom .char-value::before {
    border-bottom: 1px dashed #ccc;
    bottom: 5px;
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}*/
.char-blok-bottom .char-title {width:62%}

/*.char-blok-bottom .char-value span {padding:0 0 0 20px}*/
.char-blok-bottom .char-value {width:35%; /*float:right; text-align:right*/}

#footer .fitem{display:inline-block; vertical-align:top}
#footer .fcopy  {width:195px; padding-top:68px; text-align:center}
#footer .flogo {
    width: 250px; 
    height:100%;
    min-height:350px;
    background: transparent url(/img/t_red.png) 93px 0 repeat-y
}
#footer .flogo .flogospan  {
    display:block; height:350px;
     background: transparent url(/img/logowhite.png)  0  75px no-repeat;
    
}

#footer .fcontent {width:100%; max-width: calc(97% - 465px); margin-left:2.5%; margin:68px 0;}
#footer .fcontent a {color:#fff}
.activlink, .redlink {color: var(--red)!important}
.cirkul, .cirkulcheck {display:inline-block; width:40px; height:40px; border-radius:40px; }
 .cirkulcheck { 
     border:4px solid #fff;  
     vertical-align:middle;  
     
     border-radius: 50%;
     
    height:25px;
    width:25px;
    position: relative;
    box-shadow: 0 0 0 2px #ebebeb;
    

    
 }
 .cirkulcheck.zach {
    
    box-shadow: 0 0 0 4px var(--red);
    transition: .5s;
 } 
 
.mini {font-size:.85rem}
.brandblok {display:block; margin:20px 0 ;}
.brandlogo {
    display:inline-block; 
    background-color:transparent; 
    background-position:center; 
    background-size:contain; 
    background-repeat:no-repeat; 
    margin-right:2.5%; 
    width:47%; 
    height:70px; vertical-align:middle; 
    word-break:keep-all; 
    line-height:70px;  
    font-weight:600; font-size:18px;
    text-align:center
}
.brandlink {
    display:inline-block;  
    color:var(--red); 
    text-deoration:none;
    width:49%;
}    
.gradientbottom {
    display:blok; 
    position:absolute;bottom:0;
    width:100%; 
    height:50px; 
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}


#quicktop {
	display:none;
	width: 48px;
	height: 48px;
	position: fixed;
        opacity:.95;
        bottom: 55px;
	z-index: 99;
	right: 16px;
	font-size: 0;
        cursor:pointer;
	border-radius: 100%;
	
	box-shadow:0 0 6px rgba(0,0,0,.3); 
	background: var(--red) url(data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.966%203.742L2.15%209.244a1.004%201.004%200%2001-1.38-1.46L8.312.65a1%201%200%20011.374%200l7.545%207.135a1.004%201.004%200%2001-1.38%201.459l-5.818-5.502V17a1%201%200%2001-1%201h-.068a1%201%200%2001-1-1V3.742z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E) center/37.5% auto no-repeat;
}
#quicktop:hover {opacity:1; box-shadow:0 0 12px rgba(0,0,0,0); }
.favstar {display:inline-block; cursor:pointer; min-height:25px; padding:   3px  0 0 40px; background:url("/img/favoff.png") left top no-repeat; margin:8px;   }
.favstar.favon  {background-image:url("/img/favon.png"); color: var(--gray)}

.char-blok-bottom h3, .char-blok h3 {font-size:22px; }


.sort_order {position:relative; overflow:hidden }
.sort_order:before, .sort_order:before
{
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	z-index: -1;
	background: url("/img/sort-order.png") right center no-repeat;
}

.sort_order.desc:before
{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.numrow {display: flex}
.minvaluenum,  .maxvaluenum { 
    display:inline-block;
    border:1px solid var(--gray);
    padding:6px 12px ;
    width:49.5%; margin:0; outline:0;
    box-sizing: border-box;
    margin-bottom:16px;
}



.minvaluenum {
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px;
    padding-left:16px;
    text-align:left;
}
 .maxvaluenum {
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px;
    padding-right:16px; 
    text-align:right;
}