:root {
    --brand-color: #046;
}

.navbar {
    background-color: var(--brand-color);
}
.navbar h1 {color:#fff}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.blok, blokr, .blokc {display:block; clear:both; text-align:left}
.blokr {text-align:right}
.blokc {text-align:center}
.iblok {display:inline-block; }
.mini {font-size:80%}
