:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}
.navbar h1 {color:#fff}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}
