#lefmobiletpanel  {
    position:fixed;
    display:block;
    height:100%;
    width:100%;
    max-width:800px;
    top:0;
    left:-110%;
    background:	rgba(255,255,255,.97);
    box-shadow:15px 0px 30px rgba(0,0,0,.3);
    z-index:100001; padding:5px;
}
#lefmobiletpanel h3 {color:#333; margin:0; padding:0; margin-bottom:20px; }
#lefmobiletpanelclose
{width: 75px;
 height: 75px;
 /*background: url(/images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;*/
 background:url(/img/close2.png) center no-repeat; cersor:pointer;
 cursor: pointer;
 position:absolute; top:10px; right:10px;}
#lefmobiletpanelcontent
{display:inline-block; max-width:600px; height:100%; overflow-x:hidden; text-align:left;
 margin-left:30px;
}
#supermenuinside {padding:30px; text-align:left}
#supermenuinside  li{list-style:none}
#supermenuinside  li a{text-decoration:none !important}
#supermenuinside li ul li { font-size:90%; font-weight:normal; margin-left:1vw}
#topmenu {display:table;  margin:0; outline:0; padding:0; min-height:56px; max-height:56px; text-align:center;
          width: calc(100% - 32px); max-width:1600px; overflow:hidden;
          background:#f2f2f2;
          border-radius:25px;
          position:relative;
          margin:0 16px;
          top:-12px;
          margin-bottom:-12px;
          box-sizing: border-box;

}
