.banners-carousel .slick-list {
  margin: 0 -15px;
  border-radius: 20px;
}
.banners-carousel .slick-list::before,
.banners-carousel .slick-list::after {
  content: '';
  width: 15px;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background: #fff;
  z-index: 2;
}
.banners-carousel .slick-list::after {
  left: auto;
  right: 0;
}
.banners-carousel .slick-slide {
  margin: 0 15px;
}
