@media (max-width: 767px) {
  .catalog .page-heading {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
}
.catalog .page-heading .h1 {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .catalog .page-heading .h1 {
    font-size: 24px;
  }
}
.catalog .page-heading .h1 span {
  font-size: 22px;
  color: var(--gray2);
  font-weight: normal;
  padding-left: 25px;
  padding-bottom: 6px;
}
@media (max-width: 1599px) {
  .catalog .page-heading .h1 span {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .catalog .page-heading .h1 span {
    display: none;
  }
}
.catalog__wrap {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  grid-gap: 30px;
}
@media (max-width: 767px) {
  .catalog__wrap {
    display: block;
  }
}
@media (max-width: 767px) {
  .catalog__content .section {
    padding-top: 0;
  }
}
.catalog__sort {
  width: 350px;
}
@media (max-width: 767px) {
  .catalog__sort {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .catalog__sort .select {
    height: 50px;
    margin-top: 0;
  }
}
.catalog__filter-trigger {
  display: none;
}
@media (max-width: 767px) {
  .catalog__filter-trigger {
    display: block;
    margin-right: 15px;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--red);
    background: url("../img/icons/icon-filter.svg") no-repeat center;
    background-size: 50%;
  }
}
.catalog__breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.catalog__breadcrumbs a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  transition: 0.5s;
}
.catalog__breadcrumbs a:hover {
  color: var(--red);
}
.catalog__breadcrumbs li {
  font-size: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
@media (max-width: 1599px) {
  .catalog__breadcrumbs li {
    font-size: 18px;
  }
}
.catalog__breadcrumbs li::before {
  content: '→';
  color: var(--red);
  padding-right: 10px;
  padding-bottom: 2px;
}
.catalog__breadcrumbs li:nth-child(3) {
  padding-left: 25px;
}
.catalog__breadcrumbs li:nth-child(4) {
  padding-left: 50px;
}
.catalog__breadcrumbs li:first-child {
  padding: 0;
}
.catalog__breadcrumbs li:first-child::before {
  display: none;
}
.catalog__nav {
  margin-bottom: 40px;
}
.catalog__nav a {
  display: block;
  color: inherit;
  font-size: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: 0.5s;
}
@media (max-width: 1599px) {
  .catalog__nav a {
    font-size: 18px;
  }
}
.catalog__nav a:hover {
  color: var(--red);
}
.catalog__sidebar {
  z-index: 2;
  background: #fff;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .catalog__sidebar {
    display: none;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 99;
    overflow-y: auto;
  }
  .catalog__sidebar.active {
    display: block;
  }
}
.catalog__sidebar-heading {
  font-size: 22px !important;
  font-weight: bold;
  margin: 0 0 10px;
}
@media (max-width: 1599px) {
  .catalog__sidebar-heading {
    font-size: 20px !important;
  }
}
.catalog__sidebar-heading .unit {
  font-weight: normal;
  color: var(--gray2);
}
.select.nice-select {
  width: 350px;
  height: 55px;
  padding: 0 25px 2px;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 55px;
}
.select.nice-select::after {
  border-bottom: 2px solid var(--red);
  border-right: 2px solid var(--red);
  right: 25px;
}
