include ../elements/product.pug
div.banners-carousel
  a(href="#")
    img(src="/images/banners/banner1.jpg")
  a(href="#")
    img(src="/images/banners/banner1.jpg")
  a(href="#")
    img(src="/images/banners/banner1.jpg")
  a(href="#")
    img(src="/images/banners/banner1.jpg")
        
        
