include ../elements/product.pug
div.brands-grid
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand1.svg.png")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand2.svg.webp")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand1.svg.png")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand2.svg.webp")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand1.svg.png")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand2.svg.webp")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand1.svg.png")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand2.svg.webp")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand1.svg.png")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand2.svg.webp")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand1.svg.png")
  a(href="#").brands-grid__logo
    img(src="/images/brands/brand2.svg.webp")
    
        
        
