section
  div.homeslider
    div.homeslider__slide
      picture
        source(srcset="/images/homeslider/slide1mob.jpg",media="(max-width: 767px)")
        source(srcset="/images/homeslider/slide1.jpg")
        img(srcset="/images/homeslider/slide1.jpg",alt="")
    div.homeslider__slide
      picture
        source(srcset="/images/homeslider/slide1mob.jpg",media="(max-width: 767px)")
        source(srcset="/images/homeslider/slide1.jpg")
        img(srcset="/images/homeslider/slide1.jpg",alt="")
    div.homeslider__slide
      picture
        source(srcset="/images/homeslider/slide1mob.jpg",media="(max-width: 767px)")
        source(srcset="/images/homeslider/slide1.jpg")
        img(srcset="/images/homeslider/slide1.jpg",alt="")
    div.homeslider__slide
      picture
        source(srcset="/images/homeslider/slide1mob.jpg",media="(max-width: 767px)")
        source(srcset="/images/homeslider/slide1.jpg")
        img(srcset="/images/homeslider/slide1.jpg",alt="")
    div.homeslider__slide
      picture
        source(srcset="/images/homeslider/slide1mob.jpg",media="(max-width: 767px)")
        source(srcset="/images/homeslider/slide1.jpg")
        img(srcset="/images/homeslider/slide1.jpg",alt="")
