section
  div.homeslider
    div.homeslider__slide
      img(src="/images/homeslider/slide1.jpg")
    div.homeslider__slide
      img(src="/images/homeslider/slide1.jpg")
    div.homeslider__slide
      img(src="/images/homeslider/slide1.jpg")
    div.homeslider__slide
      img(src="/images/homeslider/slide1.jpg")
    div.homeslider__slide
      img(src="/images/homeslider/slide1.jpg")
