include ../elements/product.pug
div.products-grid.products-grid--3
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
  +product('/images/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
        
        
