section.product-card
  ul.breadcrumbs
    li
      a(href="") Электроника
    li
      a(href="") Телефоны и смарт-часы
    li
      a(href="") Смарт-часы и фитнес-браслеты
    li
      a(href="") Смарт-часы
  div.product-card__heading
    h1 Умные часы Samsung Galaxy Watch Active 2, 40 мм, розовый (ваниль) (SM-R830NZDASER)
  div.product-card__top
    div.product-card__grade
      div.product-card__grade-icons
        div.active
          include ../../img/icons/icon.svg
        div.active
          include ../../img/icons/icon.svg
        div.active
          include ../../img/icons/icon.svg
        div.active
          include ../../img/icons/icon.svg
        div
          include ../../img/icons/icon.svg
      div.product-card__grade-val 4,7
      a(href="#").anchor.product-card__reviews-link 28 отзывов
    
    div.product-card__code Код товара: 160653571
  
  div.product-card__main
  
    div.product-card__img-nav
      div.product-card__small-img.active
        img(src="/images/products/product2.jpg")
      div.product-card__small-img
        img(src="/images/products/product2.jpg")
      div.product-card__small-img
        img(src="/images/products/product2.jpg")
      div.product-card__small-img
        img(src="/images/products/product2.jpg")
      div.product-card__small-img
        img(src="/images/products/product2.jpg")
      div.product-card__small-img
        img(src="/images/products/product2.jpg")
      div.product-card__small-img
        img(src="/images/products/product2.jpg")
      div.product-card__small-img
        img(src="/images/products/product2.jpg")
        
    div.product-card__img
      div
        div.product-card__big-img.active#test
          img(src="/images/products/product2.jpg")
        div.product-card__big-img
          img(src="/images/products/product2.jpg")
        div.product-card__big-img
          img(src="/images/products/product2.jpg")
        div.product-card__big-img
          img(src="/images/products/product2.jpg")
        div.product-card__big-img
          img(src="/images/products/product2.jpg")
        div.product-card__big-img
          img(src="/images/products/product2.jpg")
        div.product-card__big-img
          img(src="/images/products/product2.jpg")
        div.product-card__big-img
          img(src="/images/products/product2.jpg")
        
    div.product-card__info
    
      div.product-card__options
        div.product-card__options-item
          h2.product-card__options-title Цвет товара
          ul.product-card__options-products
            li.product-card__options-img.active
              img(src="/images/products/product2.jpg")
            li.product-card__options-img
              img(src="/images/products/product2.jpg")
            li.product-card__options-img
              img(src="/images/products/product2.jpg")
              
      ul.product-card__table.product-card__table--justify
        li.product-card__table-tr
          div.product-card__table-th Диагональ экрана, дюймы
          div.product-card__table-val 1.2
        li.product-card__table-tr
          div.product-card__table-th Разрешение экрана
          div.product-card__table-val 360x360
        li.product-card__table-tr
          div.product-card__table-th Беспроводные интерфейсы
          div.product-card__table-val Bluetooth, GPS, NFC
        li.product-card__table-tr
          div.product-card__table-th Совместимость
            div.question
              div.question__icon ?
          div.product-card__table-val Android
        li.product-card__table-tr
          div.product-card__table-th Защита от влаги
          div.product-card__table-val Да
        li.product-card__table-tr
          div.product-card__table-th Технология матрицы
          div.product-card__table-val AMOLED
        li.product-card__table-tr
          div.product-card__table-th Защищенность
          div.product-card__table-val Водонепроницаемость
        li.product-card__table-tr
          div.product-card__table-th Цвет
          div.product-card__table-val Ваниль
        li.product-card__table-tr
          div.product-card__table-th Гарантия
          div.product-card__table-val 1 год
          
      a(href="#").anchor.product-card__to-table Все характеристики ↓
    
    div
      div.panel
        div.panel__label Хит
        div.panel__price
          div.panel__price-current 17 990 ₽
          div.panel__price-old 21 990 ₽
        div.panel__bonuses
          <span>+179</span> сейбонов
          div.question
            div.question__icon ?
        div.panel__zip
        div.panel__delivery
          div.panel__delivery-item
            include ../../img/icons/icon.svg
            div
              h2 <b>Доставим за 1 час!</b> <span class="product-card__delivery-price">299 ₽</span>
              p При заказе товаров из одного магазина
          div.panel__delivery-item
            include ../../img/icons/icon.svg
            div
              h2 Самовывоз из магазина <span class="product-card__delivery-price">299 ₽</span>
              p Можете  забрать самостоятельно из ближайшего к вам магазина
        div.panel__btn-group
          button.btn.btn--primary В корзину
          button.btn.btn--secondary Купить сейчас
        div.panel__to-wishlist
          include ../../img/icons/icon.svg
          span Добавить в избранное
      
      div.product-card__store
        div.product-card__store-logo
          img(src="/images/brands/brand2.svg.webp")
        a(href="#") Все товары магазина →
        

    section.product-card__description
      h2.product-card__section-heading Описание
      div.product-card__description-text 
        p Обтекаемый профиль корпуса Galaxy Watch Active2 - это совершенство минималистичного дизайна. Обновлённый дисплей получил увеличенное рабочее пространство за счёт более тонкой рамки экрана, а также инновационный сенсорный безель для удобства навигации и лёгкого скроллинга. Создай свой собственный уникальный дизайн, играя сочетаниями ремешков и циферблатов. С Galaxy Watch Active2 новый образ - каждый день! Galaxy Watch Active2 умеют отслеживать активность, так что просто надень их и
      a.product-card__description-toggle
    section.product-card__full-table#attributes
      h2.product-card__section-heading Характеристики
      h3 Общие характеристики
      table
        tr
          td 
            span Модель
          td Active 2 40mm
        tr
          td 
            span Гарантийный срок
          td 1 год
      h3 Экран
      table
        tr
          td 
            span Диагональ экрана
          td 1.2
        tr
          td
            span Разрешение экрана
          td 360x360
      h3 Питание
      table
        tr
          td
            span Питание
          td от аккумулятора
        tr
          td
            span Типоразмер элемента питания
            div.question
              div.question__icon ?
          td Собственный Li-Ion
          
    div.product-card__files
      div.product-card__file
        include ../../img/icons/icon-big.svg
        a(href="#") Инструкция для Samsung Galaxy Watch Active2 SM-R830 Ваниль 
          span (2.5 Mb)
      div.product-card__file
        include ../../img/icons/icon-big.svg
        a(href="#") Скачать сертификат соответствия 
          span (942.1 Kb)
          
    include ../elements/product--recommendation.pug
    
    div.recommendations
      h2.product-card__section-heading Рекомендуем присмотреться 
      div.products-carousel.products-carousel--4.recommendations__carousel
        each item in Array(8)
          +product--recommendation('img/demo/products/product1.jpg','Смартфон Huawei P Smart 2021 4+128GB Crush Green','Акция')
      ul.recommendations__table
        li <span>Диагональ экрана, дюймы</span>
        li <span>Разрешение экрана</span>
        li <span>Беспроводные интерфейсы</span>
        li <span>Совместимость</span>
        li <span>Защита от влаги</span>
        
    div.testimonials
      h2.product-card__section-heading Отзывы о товаре 
      div.testimonials__photos.testimonials__photos--carousel
        each item in Array(20)
          div.testimonials__photo
            a(href="/images/testimonials/product1.jpg", data-fancybox="gallery")
              img(src="/images/testimonials/product1.jpg")
      div.testimonials__sort
        select.select
          option(selected,value="") Сначала свежие
          option(value="") Сначала популярные
          option(value="") Сначала дешевые
          option(value="") Сначала дорогие
        
      div.testimonials__items
        div.testimonials__item
          div.testimonials__avatar
            div.testimonials__avatar-letter К
          div.testimonials__content
            div.testimonials__heading
              h3.testimonials__name Кристина М.
              div.testimonials__info Вчера, 14:07
              div.testimonials__info Цвет товара: Ваниль
            div.testimonials__grade
              div.active
                include ../../img/icons/icon.svg
              div.active
                include ../../img/icons/icon.svg
              div.active
                include ../../img/icons/icon.svg
              div.active
                include ../../img/icons/icon.svg
              div
                include ../../img/icons/icon.svg
            div.testimonials__text
              p Замечательные часы, целый год на них смотрела. Заранее скачала приложение Galaxy Wearable, подключила часы сразу в пункте выдачи. Все работает!
      
        div.testimonials__item
          div.testimonials__avatar
            div.testimonials__avatar-letter К
            div.testimonials__avatar-img
              img(src="/images/testimonials/avatar1.jpg")
          div.testimonials__content
            div.testimonials__heading
              h3.testimonials__name Анастасия А.
              div.testimonials__info 16 апреля, 20:52
              div.testimonials__info Цвет товара: Ваниль
            div.testimonials__grade
              div.active
                include ../../img/icons/icon.svg
              div.active
                include ../../img/icons/icon.svg
              div.active
                include ../../img/icons/icon.svg
              div.active
                include ../../img/icons/icon.svg
              div
                include ../../img/icons/icon.svg
            div.testimonials__text
              p Часы взяли девочке - диабетику шести лет, не громоздкие, очень удобные, ремешок пришлось поменять - родной велик, принимает смс и разговаривает по ним, с смс на уроке очень удобно.
            div.testimonials__answer
              div.testimonials__answer-heading
                h4.testimonials__store Samsung Russia
                div.testimonials__info 16 апреля, 22:15
              div.testimonials__text
                p Наталия, здравствуйте! Спасибо за отзыв. Мы рады, что Вы оценили дизайн и удобство использования смарт-часов Samsung Galaxy Watch Active2. Для того, чтобы часы работали дольше от одного заряда аккумулятора, Вы можете оптимизировать их работу. Для этого зайдите на часах в меню Настройки -> Аккумулятор -> Оптимизация заряда -> проведите оптимизацию заряда. 
          
        div.testimonials__item
          div.testimonials__avatar
            div.testimonials__avatar-letter С
          div.testimonials__content
            div.testimonials__heading
              h3.testimonials__name Сергей О.
              div.testimonials__info 13 апреля, 20:41
              div.testimonials__info Цвет товара: Ваниль
            div.testimonials__grade
              div.active
                include ../../img/icons/icon.svg
              div.active
                include ../../img/icons/icon.svg
              div.active
                include ../../img/icons/icon.svg
              div.active
                include ../../img/icons/icon.svg
              div
                include ../../img/icons/icon.svg
            div.testimonials__text
              p Часы не реально крутые. Взяла за 14 к .К Самсунгу А 71 подключились за секунду. Благодаря в телефоне встроенному приложению Galaxy Wearable. Очень много функций в часах, на работе хожу в них как директор)))
              div.testimonials__photos
                each item in Array(3)
                  div.testimonials__photo
                    a(href="/images/testimonials/product1.jpg", data-fancybox="gallery")
                      img(src="/images/testimonials/product1.jpg")
                      
        button.btn.btn--secondary Показать еще отзывы
                      
                      
    div
      div.testimonials-panel
        div.testimonials-panel__grade
          div.testimonials-panel__grade-val 4.7
          div.testimonials-panel__grade-count <span>2 649</span> отзывов
        div.testimonials-panel__item
          span 5
          div.testimonials-panel__graph
            div(style="width: 71%").testimonials-panel__graph-current
          span 71 %
        div.testimonials-panel__item
          span 4
          div.testimonials-panel__graph
            div(style="width: 12%").testimonials-panel__graph-current
          span 12 %
        div.testimonials-panel__item
          span 3
          div.testimonials-panel__graph
            div(style="width: 5%").testimonials-panel__graph-current
          span 5 %
        div.testimonials-panel__item
          span 2
          div.testimonials-panel__graph
            div(style="width: 3%").testimonials-panel__graph-current
          span 3 %
        div.testimonials-panel__item
          span 1
          div.testimonials-panel__graph
            div(style="width: 9%").testimonials-panel__graph-current
          span 9 %
          
        button.btn.btn--secondary Оставить отзыв
        a(href="#").testimonials-panel__link Правила оформления отзывов →
          
          
      
    
        
      
          
            
