header.header
  h1.header__heading
    a(href="#").header__back
      include ../../img/icons/icon-back.svg
    span Мои товары
  div.header__user
    div.header__user-name
      h2 Сергей Заказчиков
      p Администратор
    div.header__user-avatar С
