aside.sidebar
  div.sidebar__logo
    a(href="#")
      img(src="/img/logo.png")
  nav.sidebar__nav
    div.sidebar__section
      a(href="#").sidebar__link
        include ../../img/icons/icon-analytics.svg
        span Аналитика
      a(href="#").sidebar__link.active
        include ../../img/icons/icon-products.svg
        span Товары
      a(href="#").sidebar__link
        include ../../img/icons/icon-stores.svg
        span Магазины
      a(href="#").sidebar__link
        include ../../img/icons/icon-prices.svg
        span Цены и скидки
      a(href="#").sidebar__link
        include ../../img/icons/icon-testimonials.svg
        span Отзывы
        span.sidebar__link-counter 37
    div.sidebar__section
      a(href="#").sidebar__link
        include ../../img/icons/icon-manuals.svg
        span Инструкции
      a(href="#").sidebar__link
        include ../../img/icons/icon-documents.svg
        span Документы
      a(href="#").sidebar__link
        include ../../img/icons/icon-support.svg
        span Поддержка
        span.sidebar__link-counter 37
      a(href="#").sidebar__link
        include ../../img/icons/icon-api.svg
        span Интеграция API
    div.sidebar__section
      a(href="#").sidebar__link
        include ../../img/icons/icon-settings.svg
        span Управление аккаунтом
      a(href="#").sidebar__link
        include ../../img/icons/icon-logout.svg
        span Выйти
        
