footer {
  background: var(--black);
}
.footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer__col {
  display: flex;
}
.footer__logo {
  padding: 5px 0;
}
.footer__info {
  padding-top: 80px;
  margin-right: 40px;
}
.footer__copyright {
  font-size: 16px;
  line-height: 1.375;
  margin: 0 0 22px;
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
}
.footer__social a {
  display: block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin: 0 21px 9px 0;
}
.footer__social a svg {
  width: 100%;
  height: 100%;
  color: var(--red);
}
.footer__nav {
  padding-top: 80px;
  display: flex;
}
.footer__nav-col {
  margin-right: 60px;
}
.footer__nav-col:last-child {
  margin-right: 0;
}
.footer__nav a {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.5s;
}
.footer__nav a:hover {
  color: var(--red);
}
.footer__right {
  padding-top: 80px;
}
.footer__dashboard-link {
  display: flex;
  align-items: center;
}
.footer__dashboard-link svg {
  margin-right: 9px;
  color: var(--red);
}
.footer__icons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 45px;
}
.footer__icon {
  display: block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin: 0 0 9px 21px;
}
.footer__icon svg {
  width: 100%;
  height: 100%;
  color: var(--red);
}
