.custom-select
  position relative
  cursor pointer
  &::after
    content ''
    position absolute
    display block
    width 11px
    height 9px
    right 25px
    top 24px
    background url(/img/ui/select-triangle.svg) no-repeat center
    transition .5s
    pointer-events none
  &--radio
    width 100%
  &--checkboxes
    width 25%
    &::after
      top 23px
      height 11px
      background url(/img/ui/plus.svg) no-repeat center
  &__label
    display flex
    align-items center
    width 100%
    cursor pointer
    font-size 18px
  &__selected
    margin-top 10px
    display flex
    width 725px
    flex-wrap wrap
    &-item
      margin-top 10px
      margin-right 10px
      display flex
      align-items center
      height 40px
      padding 0 15px
      border-radius 20px
      background var(--gray)
      font-size 16px
    &-del
      color var(--gray2)
      cursor pointer
      margin-left 10px
      img
        transform rotate(45deg)
        width 12px
        height 12px
        filter grayscale(100%)
        transition .3s
        opacity .6
        &:hover
          @media (hover)
            filter grayscale(0)
            opacity 1
  &__dropdown
    position absolute
    left 0
    top 58px
    opacity 0
    pointer-events none
    z-index 3
    min-width calc(100% + 13px)
    &::before
      content ''
      width calc(100% - 13px)
      height 100%
      display block
      background #fff
      box-shadow: 0px 5px 35px 0px rgba(66, 66, 66, 0.2)
      position absolute
    &-inner
      padding-right 13px
      position relative
      max-height 352px
      overflow-y auto
      min-width 100%
      scrollbar-width thin
      scrollbar-color var(--red) var(--gray)
      &::-webkit-scrollbar
        width 3px
      &::-webkit-scrollbar-track
        background-color var(--gray)
      &::-webkit-scrollbar-thumb
        background-color var(--red)
    label
      display block
      border-bottom 2px solid var(--gray)
      cursor pointer
      &:last-child
        border-bottom none
      span
        display block
        padding 10px 25px
        font-size 18px
        transition .3s
        white-space nowrap
        background #fff
        &:hover
          @media (hover)
            background var(--gray)
    input
      display none
      &:checked + span
        background var(--red)
        color #fff
  &.active
    .custom-select__label
      border-color var(--red) !important
    .custom-select__dropdown
      opacity 1
      pointer-events auto
  &--radio.active
    &::after
      transform rotate(180deg)
  &--checkboxes.active
    &::after
      transform rotate(45deg)
