.popup
  position fixed
  width 100vw
  height 100vh
  left 0
  top 0
  background rgba(0,0,0,.5)
  z-index 999
  display none
  &__inner
    position absolute
    background #fff
    border-radius 20px
    padding 50px
    top 50%
    left 50%
    transform translate(-50%,-50%)
  &__heading
    font-size 34px
    margin-bottom 30px
    font-weight bold
    padding-right 50px
  &__close
    width 18px
    height 18px
    position absolute
    top 50px
    right 50px
    cursor pointer
    &::before
    &::after
      content ''
      display block
      width 25px
      height 3px
      background var(--red)
      position absolute
      left 50%
      top 50%
      transform translate(-50%,-50%) rotate(45deg)
    &::after
      transform translate(-50%,-50%) rotate(-45deg)


.auth-reg
  width 600px
  position relative
  .btn
    width 270px
    margin-left 170px
  &__back
    position absolute
    left 0
    bottom 16px
    color var(--red)
    text-decoration none
    cursor pointer
  &__input-group
    display flex
    margin-bottom 25px
    font-size 20px
    &__label
      width 170px
      padding-right 25px
      text-align right
      font-weight bold
      margin-top 13px
    &--center
      align-items center
      .auth-reg__input-group__label
        margin-top 0
    &__input
      width 270px
      position relative
      &--large
        width 440px
      input
        height 55px
        width 100%
        border 2px solid var(--gray)
        padding 0 25px
        font-size inherit
        border-radius 55px
        outline none
      p
        font-size 16px
        margin 5px 0 0 25px
        color var(--gray2)
        white-space nowrap
      a
        display inline-block
        text-decoration none
        color var(--red)
        margin-top 5px
        margin-left 25px
        font-size 16px
        cursor pointer
