footer
  div.container
    div.footer
      div.footer__col
        div.footer__info
          p.footer__copyright
            | 2021 © ООО «Сейчас»<br>
            | Все права защищены.
          div.footer__social
            a(href="#")
              include ../../img/icons/icon.svg
            a(href="#")
              include ../../img/icons/icon.svg
            a(href="#")
              include ../../img/icons/icon.svg
        div.footer__logo
          a(href="#")
            img(src="/img/footer-logo.png")
      div.footer__col
        nav.footer__nav
          div.footer__nav-col
            a(href="#") Электроника
            a(href="#") Аксессуары
            a(href="#") Одежда
            a(href="#") Детям
            a(href="#") Продукты
          div.footer__nav-col
            a(href="#") Аптеки
            a(href="#") Афиша
            a(href="#") Билеты
            a(href="#") Услуги
            a(href="#") Доставка за час
          div.footer__nav-col
            a(href="#") Частые вопросы
            a(href="#") Доставка
            a(href="#") Скидки
            a(href="#") Контакты
            a(href="#") Бренды
            a(href="#") Система лояльности
            a(href="#") Стать партнером
      div.footer__col
        div.footer__right
          a.footer__dashboard-link
            include ../../img/icons/icon.svg
            span Вход для партнеров
          div.footer__icons
            div.footer__icon
              include ../../img/icons/icon.svg
            div.footer__icon
              include ../../img/icons/icon.svg
            div.footer__icon
              include ../../img/icons/icon.svg
              
div.popup
  div.popup__inner
    div.popup__close
    div.popup__content
      // auth phone
      div.popup__heading Вход или регистрация
      div.auth-reg
        label.auth-reg__input-group
          div.auth-reg__input-group__label Телефон:
          div.auth-reg__input-group__input
            input(type="text", placeholder="+7 (999) 999-99-99").phoneinput
        button.btn.btn--primary Продолжить
      // auth login
      div.popup__heading Привет, Алексей!
      div.auth-reg
        label.auth-reg__input-group.auth-reg__input-group--center
          div.auth-reg__input-group__label Телефон:
          div.auth-reg__input-group__value +7 (999) 999-99-99
        label.auth-reg__input-group
          div.auth-reg__input-group__label Пароль:
          div.auth-reg__input-group__input
            input(type="password")
            a Забыли пароль?
        button.btn.btn--primary Войти
        a.auth-reg__back ← Вернуться
      // reg
      div.popup__heading Регистрация
      div.auth-reg
        label.auth-reg__input-group.auth-reg__input-group--center
          div.auth-reg__input-group__label Телефон:
          div.auth-reg__input-group__value +7 (999) 999-99-99
        label.auth-reg__input-group
          div.auth-reg__input-group__label Код:
          div.auth-reg__input-group__input
            input(type="password")
            p Мы отправили его на телефон
            a Выслать его еще раз?
        label.auth-reg__input-group
          div.auth-reg__input-group__label Ваше имя:
          div.auth-reg__input-group__input.auth-reg__input-group__input--large
            input(type="text")
        label.auth-reg__input-group
          div.auth-reg__input-group__label Почта:
          div.auth-reg__input-group__input.auth-reg__input-group__input--large
            input(type="text")
        button.btn.btn--primary Зарегистрироваться
        a.auth-reg__back ← Вернуться
        
        
          
