footer.footer
  div.container
    div.footer__logo
      img(src="img/footer-logo.png")
      div.footer__copyright 2021 © ООО «Сейчас»<br>Все права защищены.
    nav.footer__nav
      div
        a(href="#") Электроника
        a(href="#") Аксессуары
        a(href="#") Одежда
        a(href="#") Детям
        a(href="#") Продукты
      div
        a(href="#") Аптеки
        a(href="#") Афиша
        a(href="#") Билеты
        a(href="#") Услуги
        a(href="#").accent-color Доставим за час
      div
        a(href="#") Частые вопросы
        a(href="#") Доставка
        a(href="#") Скидки
        a(href="#") Контакты
        a(href="#") Бренды
        a(href="#") Система лояльности
        a(href="#") Стать партнером
    div.footer__contact
      div.footer__phone +7 (495) 445-04-55
      div.footer__email
        a(href="mailto:info@saychas.ru") info@saychas.ru 
        span для общих вопросов и сотрудничества
      div.footer__email
        a(href="mailto:sales@saychas.ru") sales@saychas.ru
        span для вопросов и сотрудничества с поставщиками
    div.footer__right
      a.icon-link
        include ../../img/icons/icon.svg
        span Вход для партнеров
      div(style="opacity: 0;").footer__icons
        include ../../img/icons/icon.svg
        include ../../img/icons/icon.svg
      
      
        
