footer
  div.container
    div.footer
      div.footer__col
        div.footer__info
          p.footer__copyright
            | 2021 © ООО «Сейчас»<br>
            | Все права защищены.
          div.footer__social
            a(href="#")
              include ../../img/icons/icon.svg
            a(href="#")
              include ../../img/icons/icon.svg
            a(href="#")
              include ../../img/icons/icon.svg
        div.footer__logo
          a(href="#")
            img(src="/img/footer-logo.png")
      div.footer__col
        nav.footer__nav
          div.footer__nav-col
            a(href="#") Электроника
            a(href="#") Аксессуары
            a(href="#") Одежда
            a(href="#") Детям
            a(href="#") Продукты
          div.footer__nav-col
            a(href="#") Аптеки
            a(href="#") Афиша
            a(href="#") Билеты
            a(href="#") Услуги
            a(href="#") Доставка за час
          div.footer__nav-col
            a(href="#") Частые вопросы
            a(href="#") Доставка
            a(href="#") Скидки
            a(href="#") Контакты
            a(href="#") Бренды
            a(href="#") Система лояльности
            a(href="#") Стать партнером
      div.footer__col
        div.footer__right
          a.footer__dashboard-link
            include ../../img/icons/icon.svg
            span Вход для партнеров
          div.footer__icons
            div.footer__icon
              include ../../img/icons/icon.svg
            div.footer__icon
              include ../../img/icons/icon.svg
            div.footer__icon
              include ../../img/icons/icon.svg
              
div.popup
  div.popup__inner
    div.popup__close
    div.popup__content
      // auth 1 step
      div.popup__heading Вход или регистрация
        div.auth-reg
          label.auth-reg__input-group
            div.auth-reg__input-group__label Телефон:
            input(type="text", placeholder="+7 (999) 999-99-99")
          button.btn.btn--primary Продолжить
      // auth 2 step
      div.popup__heading Вход или регистрация
      div.auth-reg
        label.auth-reg__input-group
          div.auth-reg__input-group__label Телефон:
          input(type="text", placeholder="+7 (999) 999-99-99")
        button.btn.btn--primary Продолжить
        
          
