link(rel="stylesheet",href="/css/style.min.css")
div.radio-group
  div(tabindex="0").testdiv не выбрано
  label(style="display:block")
    input(type="radio",name="radio")
    span Radio 1
  label(style="display:block")
    input(type="radio",name="radio")
    span Radio 2
  label(style="display:block")
    input(type="radio",name="radio")
    span Radio 3
  label(style="display:block")
    input(type="radio",name="radio")
    span Radio 4
  label(style="display:block")
    input(type="radio",name="radio")
    span Radio 5
  label(style="display:block")
    input(type="radio",name="radio")
    span Radio 6
script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script(src="js/scripts.min.js")
  
