.catalog
  .page-heading
    @media (max-width: 767px)
      flex-wrap wrap
      margin-bottom 25px
  .page-heading .h1
    display flex
    align-items flex-end
    @media (max-width: 767px)
      font-size 24px
    span
      font-size 22px
      color var(--gray2)
      font-weight normal
      padding-left 25px
      padding-bottom: 6px
      @media (max-width: 1599px)
        font-size 18px
      @media (max-width: 767px)
        display none

  &__wrap
    display grid
    grid-template-columns minmax(0,1fr) minmax(0,3fr)
    grid-gap 30px
    @media (max-width: 767px)
      display block

  &__content
    .section
      @media (max-width: 767px)
        padding-top 0

  &__sort
    width 350px
    @media (max-width: 767px)
      margin-top 20px
      display flex
      align-items center
      justify-content space-between
      .select
        height 50px
        margin-top 0

  &__filter-trigger
    display none
    @media (max-width: 767px)
      display block
      margin-right 15px
      flex-shrink 0
      width 50px
      height 50px
      border-radius 50%
      border 2px solid var(--red)
      background url(../img/icons/icon-filter.svg) no-repeat center
      background-size 50%

  &__breadcrumbs
    list-style none
    margin 0
    padding 0
    margin-bottom 40px
    @media (max-width: 767px)
      display none
    a
      text-decoration none
      color inherit
      font-size inherit
      transition .5s
      &:hover
        color var(--red)
    li
      font-size 20px
      margin-bottom 5px
      display flex
      align-items center
      @media (max-width: 1599px)
        font-size 18px
      &::before
        content: '→'
        color var(--red)
        padding-right 10px
        padding-bottom 2px
      &:nth-child(3)
        padding-left 25px
      &:nth-child(4)
        padding-left 50px
      &:first-child
        padding 0
        &::before
          display none

  &__nav
    margin-bottom 40px
    @media (max-width: 767px)
      display flex
      overflow-x auto
      width calc(100% + 15px)
      margin-bottom 25px
      &::-webkit-scrollbar
        display none
    .catalog__sidebar-heading
      @media (max-width: 767px)
        display none
    a
      display block
      color inherit
      font-size 20px
      margin-bottom 5px
      text-decoration none
      transition .5s
      @media (max-width: 1599px)
        font-size 18px
      @media (max-width: 767px)
        flex-shrink 0
        margin-right 5px
        padding 10px 15px
        font-size 14px
        border-radius 30px
        background var(--gray)
      &:hover
        @media (hover)
          color var(--red)

  &__sidebar
    z-index 2
    background #fff
    padding-bottom 50px
    @media (max-width: 767px)
      padding-bottom 0
    &-heading
      font-size 22px !important
      font-weight bold
      margin 0 0 10px
      @media (max-width: 1599px)
        font-size 20px !important
      .unit
        font-weight normal
        color var(--gray2)

.select.nice-select
  width 350px
  height 55px
  padding 0 25px 2px
  font-size 18px
  display flex
  align-items center
  border 2px solid var(--gray)
  border-radius 55px
  &::after
    border-bottom 2px solid var(--red)
    border-right 2px solid var(--red)
    right 25px
