.range
  margin-top 25px
  position relative
  width 100%
  max-width 350px
  &__tooltips
    display grid
    grid-template-columns 1fr 1fr
    margin-top 20px
    input
      width 100%
      height 55px
      font-size 12px
      border none
      -moz-appearance textfield
      border 2px solid var(--gray)
      padding 0 25px 0 55px
      outline none !important
      font-size 18px
      font-family inherit
      &::-webkit-outer-spin-button
      &::-webkit-inner-spin-button
        -webkit-appearance none
        margin 0
    > div
      position relative
      &::before
        content 'От'
        position absolute
        top 50%
        left 27px
        transform translateY(-50%)
        color var(--gray2)
      &:first-child
        input
          border-right none
          border-top-left-radius 55px
          border-bottom-left-radius 55px
      &:last-child
        &::before
          content 'До'
        input
          border-top-right-radius 55px
          border-bottom-right-radius 55px

      &:focus
        outline none
        border 2px solid var(--red)

  input[type="range"]
    position absolute
    -webkit-appearance none
    z-index 2
    height 2px
    width 100%
    margin-top 0
    opacity 0
    pointer-events none
    &::-webkit-slider-thumb
      pointer-events all
      width 15px
      height 15px
      border-radius 0
      border none
      -webkit-appearance none
      cursor pointer
    &::-moz-range-thumb
      pointer-events all
      width 15px
      height 15px
      border-radius 0
      border none
      cursor pointer
  &__slider
    position relative
    z-index 1
    height 2px
    margin 0 10px
  &__track
    position absolute
    z-index 1
    left 0
    right 0
    top 0
    bottom 0
    border-radius 5px
    background-color var(--gray)
  &__range
    position absolute
    z-index 2
    left 25%
    right 25%
    top 0
    bottom 0
    border-radius 5px
    background-color var(--red)
  &__thumb
    position absolute
    z-index 3
    width 15px
    height 15px
    background-color #fff
    border 2px solid var(--red)
    border-radius 50%
    transition box-shadow .3s ease-in-out
    &--left
      left 25%
      transform translate(-10px, -6px)
    &--right
      right 25%
      transform translate(10px, -6px)

  &__left:hover ~ .range__slider .range__thumb--left
  &__right:hover ~ .range__slider .range__thumb--right
    @media (hover)
      box-shadow 0 0 0 10px rgba(255,75,45,.1)
  &__left:active ~ .range__slider .range__thumb--left
  &__right:active ~ .range__slider .range__thumb--right
    box-shadow 0 0 0 20px rgba(255,75,45,.2)

.boolean
  margin-left 12px
  margin-top 4px
  cursor: pointer
  &__check
    width 30px
    height 16px
    background var(--gray)
    border-radius 8px
    display block
    position relative
    &::after
      content ''
      display block
      width 12px
      height 12px
      border-radius 50%
      background #fff
      top 2px
      left 2px
      position absolute
  input
    display none
    &:checked ~ .boolean__check
      background var(--red)
      &::after
        left auto
        right 2px

.boolean2
  display flex
  &__check
    width 70px
    height 55px
    display flex
    align-items center
    justify-content center
    font-size 18px
    border 2px solid var(--gray2)
    position relative
    cursor pointer
  label
    &:first-child .boolean2__check
      border-top-left-radius 55px
      border-bottom-left-radius 55px
      padding-left 5px
    &:last-child .boolean2__check
      border-top-right-radius 55px
      border-bottom-right-radius 55px
      padding-right 5px
      left -2px
  input
    display none
    &:checked + .boolean2__check
      border-color var(--red)
      z-index 2

.filter__show-all
  color var(--red)
  border none
  padding 0
  margin 0
  background none
  font-size 18px
  cursor pointer
  margin-top 20px
  order 3
  &::before
    content 'Показать все ↓'

.filter
  &__item
    margin-top 20px
    &--boolean
      display flex !important
      align-items center
      .catalog__sidebar-heading
        margin 0
  &__search
    margin-bottom 20px
    display none
    input
      font-size 18px
  &__checkboxes
    display flex
    flex-direction column
  &__colors
    display grid
    grid-template-columns repeat(9, 28px)
    grid-gap 10px
  &__scroll
    max-height 295px
    overflow-y auto
    order 2
    &::-webkit-scrollbar
      width 2px
    &::-webkit-scrollbar-track
      background var(--gray)
    &::-webkit-scrollbar-thumb
      background var(--red)
    &.active
      .checkbox
        display flex !important
        &.hidden
          display none !important
      ~ .filter__show-all::before
          content: 'Свернуть ↑'
      ~ .filter__search
          display block


.color-checkbox
  &__check
    width 28px
    height 28px
    border 2px solid var(--gray)
    border-radius 50%
    position relative
    display flex
    align-items center
    justify-content center
    cursor pointer
    &-color
      display block
      width 16px
      height 16px
      border-radius 50%
  input
    display none
    &:checked ~ .color-checkbox__check
      border-color var(--red)

.checkbox
  display none
  align-items center
  margin-bottom 10px
  user-select none
  cursor pointer
  &:nth-child(-n+6)
    display flex
  &__check
    width 28px
    height 28px
    border 2px solid var(--gray)
    border-radius 5px
    margin-right 10px
    position relative
    &--radio
      border-radius 50%
  input
    display none
    &:checked
      ~ .checkbox__check
        &::after
          content ''
          width 27px
          height 19px
          background url(../img/icons/icon-check.svg) no-repeat center
          background-size contain
          position absolute
          top 2px
          left 3px
          display block
        &--radio::after
          background var(--red)
          width 10px
          height 10px
          top 50%
          left 50%
          transform translate(-50%,-50%)
          border-radius 50%

  &__value
    font-size 18px
  &__count
    color var(--gray2)
    padding-left 10px
