<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * NOTE: This file is ignored from Git by default with the .gitignore included
 * in laminas-mvc-skeleton. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */
//
//return [
//    'view_manager' => [
//        'display_exceptions' => true,
//    ],
//    'db' => [
//        'username' => 'saychas_z',
//        'password' => 'saychas_z',
//    ],
//];

return [
    'parameters' => [
        '1c_provider_links' => [
            /** UserManager links */
            /** Provider login code */
            'lk_provider_login' => 'http://SRV02:8000/SC/hs/site/lk_provider_login',
            /** Create user */
            'lk_create_user' => 'http://SRV02:8000/SC/hs/site/lk_create_user',
            /** Update user */
            'lk_update_user' => 'http://SRV02:8000/SC/hs/site/lk_update_user',
            /** Get all users */
            'lk_get_all_users' => 'http://SRV02:8000/SC/hs/site/lk_get_all_users',
            /** Confirm offer */
            'lk_confirm_offer' => 'http://SRV02:8000/SC/hs/site/lk_confirm_offer',

            /** ReviewManager */
            'lk_get_reviews' => 'http://SRV02:8000/SC/hs/site/lk_get_reviews',
            \ControlPanel\Service\ReviewManager::class => 'http://SRV02:8000/SC/hs/site/lk_get_reviews',
            'lk_update_review' => 'http://SRV02:8000/SC/hs/site/lk_update_review',

            /** RequisitionManager */
            'lk_get_requisitions' => 'http://SRV02:8000/SC/hs/site/lk_get_requisitions',
            \ControlPanel\Service\RequisitionManager::class => 'http://SRV02:8000/SC/hs/site/lk_get_requisitions',
            'lk_update_requisition' => 'http://SRV02:8000/SC/hs/site/lk_update_requisition',
            'lk_update_requisition_status' => 'http://SRV02:8000/SC/hs/site/lk_update_requisition_status',            
            
            /** ProductManager links */
            'lk_product_info' => 'http://SRV02:8000/SC/hs/site/lk_product_info',
            'lk_get_info_by_category' => 'http://SRV02:8000/SC/hs/site/lk_get_info_by_category',
            'lk_get_template' => 'http://SRV02:8000/SC/hs/site/lk_get_template',
            'lk_upload_file' => 'http://SRV02:8000/SC/hs/site/lk_upload_file',

            /** ProductManager link alias */
            \ControlPanel\Service\ProductManager::class => 'http://SRV02:8000/SC/hs/site/lk_product_info',
            /** ProductManager; Edit product */
            //'lk_edit_product' => 'http://SRV02:8000/SC/hs/site/lk_edit_product',
            'lk_update_product' => 'http://SRV02:8000/SC/hs/site/lk_update_product',
            'lk_add_product' => 'http://SRV02:8000/SC/hs/site/lk_add_product',
            /** StoreManager links */
            'lk_store_info' => 'http://SRV02:8000/SC/hs/site/lk_store_info',
            'lk_add_store' => 'http://SRV02:8000/SC/hs/site/lk_add_store',
            'lk_update_store' => 'http://SRV02:8000/SC/hs/site/lk_update_store',
            /** StockBalanceManager */
            'lk_update_balance' => 'http://SRV02:8000/SC/hs/site/lk_update_balance',
            'lk_balance_info' => 'http://SRV02:8000/SC/hs/site/lk_balance_info',
            /** StockBalanceManager link alias */
            \ControlPanel\Service\StockBalanceManager::class => 'http://SRV02:8000/SC/hs/site/lk_balance_info',
            /** StoreManager link alias */
            \ControlPanel\Service\StoreManager::class => 'http://SRV02:8000/SC/hs/site/lk_store_info',
            /** PriceAndDiscountManager */
            'lk_price_info' => 'http://SRV02:8000/SC/hs/site/lk_price_info',
            'lk_update_price' => 'http://SRV02:8000/SC/hs/site/lk_update_price',
            /** PriceAndDiscountManager link alias */
            \ControlPanel\Service\PriceAndDiscountManager::class => 'http://SRV02:8000/SC/hs/site/lk_price_info',
            
        ],
        '1c_request_links' => [
            'get_product' => 'http://SRV02:8000/SC/hs/site/get_product',
            'get_store' => 'http://SRV02:8000/SC/hs/site/get_store',
            'send_registration_code' => 'http://SRV02:8000/SC/hs/site/send_registration_code',
            'get_client_info' => 'http://SRV02:8000/SC/hs/site/get_client_info',
            'set_client_info' => 'http://SRV02:8000/SC/hs/site/set_client_info',
            'update_client_info' => 'http://SRV02:8000/SC/hs/site/update_client_info',
            'change_client_password' => 'http://SRV02:8000/SC/hs/site/change_client_password',
            'client_login' => 'http://SRV02:8000/SC/hs/site/client_login',
            //'send_basket' => 'http://SRV02:8000/SC/hs/site/create_order',
            'create_order' => 'http://SRV02:8000/SC/hs/site/create_order',
            'order_payment' => 'http://SRV02:8000/SC/hs/site/order_payment',
             /** sendReview  link*/
            'set_review' => 'http://SRV02:8000/SC/hs/site/set_review',
            'get_reviewer' => 'http://SRV02:8000/SC/hs/site/get_reviewer',
            
        ],
        
        'server_catalog' => [
            'ftp_mountpoint' => '/home/alex/ftp',
        ],
    ],
    'view_manager' => [
        'display_exceptions' => true,
    ],
    'db' => [
        'adapters' => [
            'username' => 'saychas_z',
            'password' => 'saychas_z',
        ],
        'username' => 'saychas_z',
        'password' => 'saychas_z',
    ],
];